@import url('http://fonts.googleapis.com/css?family=Poppins');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Poppins', sans-serif;
}
body{
display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: darkblue;
}
#time{
    display: flex;
    gap: 40px;
    color: aliceblue;
}

